bigiq = 10.255.72.25
iq_user = admin
iq_pass = admin
bigip = 10.255.72.38
ip_user = admin
ip_pass = admin
root_username = root
root_password = default
addr_list = api_addr_list-1
addr_list_ip = 10.128.10.1
port_list = api_port_list-1
port_list_port = 22, 23
policy_name = api_policy-1
rule_name = rule_container-1
virtual_server = app_virtual_2